We need an electronic grade book to read the scores of an individual student 
and then compute some simple statistics from the scores.

The grades are entered as floating point numbers (float) from 0 to 100, and the statistics should show us 
the highest grade, the lowest grade, and the average grade.

GradeBook class - 

Class members define:
1. State
2. Behavior

GradeBook State
1. The grades for a user

GradeBook Behavior
1. Add a new grade
2. Calculate statistics

----Classes & Objects----
create objects with class (like a cookie cutter)
Objects are allocated into memory
new keyword

----Constructors---
a method that helps create an instance of class, initialization of object
can set default values
ctor - shortcut for creating a constructor

----Classes and Variables----
Class is a blueprint for creating objects.
You can use a class to define the type of variable.
Variable is a pointer that points to a specific object.
